body {
  margin-left: 30%;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
  margin-left: 25px;
  color: blue;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

#job-form {
  margin-top: 40px;
  margin-right: 50%;
}

#job {
  margin-top: 20px;
}

#no-job-msg {
  margin-top: 20px;
}

#add-job-button {
  margin-left: 20%;
  margin-top: 15px;
}

#submit-job-button {
  margin-top: 5px;
}

a {
  color: blue;
}

.list-group-item {
  width: 60%;
}

#return-to-jobs {
  margin-left: 5px;
}

#edit-link {
  position: absolute;
  right: 65px;
  
}

#delete-link {
  position: absolute;
  right: 5px;
}

#job-edit-form {
  margin-top: 40px;
  margin-right: 50%;
}

header {
  padding-left: 25px;
}



